#centerSide{
    -fx-padding: 0 0 0 200;
}

.menu-button {
    -fx-min-width: 180px;
    -fx-padding: 8px;
    -fx-font-size: 18px;
}

.menu-label{
    -fx-padding: 0 0 0 66;
    -fx-font-size: 14px;
}

#rightSide{
    -fx-background-color: #bebebe;
}
.power-up-button{
    -fx-min-width: 140px;
    -fx-padding: 6px;
    -fx-font-size: 13px;
}

#infoLabel{
    -fx-padding: 0 0 20 70;
    -fx-font-size: 14px;
}

#gameMessage{
    -fx-padding: 4 8 4 8;
}